<!DOCTYPE html>
<html lang="nb" ng-app="course">
    <head>
        <meta charset="utf-8" />
        <title>DOK6200 Digital dokumentasjonsforvaltning</title>
        <meta name="title" content="DOK6200 Digital dokumentasjonsforvaltning" />
        <meta name="author" content="Thomas Sødring" />
        <link rel="stylesheet" href="bin/semantic.min.css" />
        <script src="bin/jquery-3.1.1.min.js"></script>
        <script src="bin/semantic.min.js"></script>
        <script src="bin/angularjs/1.7.0/angular.min.js"></script>
        <script src="bin/common.js"></script>
        <script src="bin/teach.js"></script>
    </head>
    <body ng-controller="CourseController">
        <div class="ui twelve column grid">
            <div class="one wide column">&nbsp;</div>
            <div class="ten wide column">
                <div class="ui hidden divider"></div>
                <div class="ui hidden divider"></div>
                <div class="ui text container">
                    <h2 class="ui dividing header">DOK6200 Digital dokumentasjonsforvaltning</h2>
                    <p>
                        Emnet kombinerer teori og praksis for å bygge opp en helhetlig forståelse av elektronisk arkivdanning og arkivbevaring. Det tar for seg sammenhengene mellom nyere arkivteori og elektronisk arkivdanning med spesiell
                        vekt på Noark-standarden. Det legger vekt på datamodellering og hvordan databaser brukes under arkivdanning. Det skal synliggjøre relevante aspekter ved overgangen fra arkivdanning til bevaring, særlig bruk og
                        videreutvikling av XML i arkivsammenheng. Den offisielle OsloMet siden for dette emnet er <a href="https://student.oslomet.no/en/studier/-/studieinfo/emne/DOK6200/2023/H%C3%98ST" target="_blank"> her</a>. Dette er en
                        uoffisiell side som brukes til å gjøre kursinnholdet fritt tilgjengelig.
                    </p>
                </div>

                <div class="ui hidden divider"></div>
                <div class="ui text container">
                    <h3 class="ui dividing header">Fagansvarlig</h3>
                    <a href="https://www.oslomet.no/om/ansatt/tsodring/" target="_blank">
                        Thomas Sødring
                    </a>
                </div>
                <div class="ui hidden divider"></div>
                <div class="ui text container">
                    <h3 class="ui dividing header">Innhold</h3>
                    <p>
                        Emnet er for det meste digital med nettbaserte forelesninger, nettbaserte diskusjoner, oppgaveløsning og selvstudium. Den offisielle timeplanen for emnet finner dere
                        <a href="https://tp.uio.no/oslomet/timeplan/timeplan.php?type=course&id[]=DOK6200%2C1&sort=null" target="_blank"> her</a>.
                    </p>
                    <div class="ui hidden divider"></div>

                    <div class="ui two column centered grid">
                        <div class="ui cards">
                            <div class="ui card" ng-repeat="module in modules" ng-click="doShowModuleContents(module)">
                                <div class="content">
                                    <div class="header">{{module.module_name}}</div>
                                </div>
                                <div class="content">
                                    <div class="ui small feed">
                                        <div class="event">
                                            <div class="content">
                                                <div class="summary">
                                                    {{module.module_description}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui hidden divider"></div>
                <div class="ui text container"> 
                    <h2 class="ui dividing header" id="eksamen">Eksamen</h2>
                    <p>
                        Eksamen består av en skriftlig mappe bestående en skriftlig mappe med et omfang på 10-13 sider (23.000 - 30.000 tegn inkludert mellomrom). Eksamen er publisert her og er tilgjengelig både på
                        <a href="eksamen/dok6200_h23_mappe_bokmaal.pdf" target="_blank">bokmål</a> og <a href="eksamen/dok6200_h23_mappe_nynorsk.pdf" target="_blank">nynorsk</a>. Husk å sjekke
                        <a href="https://student.oslomet.no/studentweb">studentweb</a> for informasjon om innleveringsfrister. Husk også at du må melde deg opp til å ta eksamen. Oppmelding er du selv ansvarlig for. Du blir ikke oppmeldt
                        automatisk!
                    </p>
                </div>
                <div class="ui hidden divider"></div>
                <div class="ui text container">
                    <h2 class="ui dividing header">Arbeidskrav</h2>
                    <p>
                        Det er fire obligatoriske arbeidskrav i emnet der formålet med arbeidskravene er å hjelpe studentene strukturere læringen i løpet av semesteret. Oppgavene kan skrives individuelt eller i gruppe og dere selv bestemmer
                        gruppene.   
                    </p>
                    <div>
                        <p>Den <a href="arbeidskrav/dok6200_h23_arbeidskrav_1.pdf" target="_blank"> første </a> skal gi innsikt ER-modellering og har frist <i>2023-09-24</i>.</p>
                        <p>Den <a href="arbeidskrav/dok6200_h23_arbeidskrav_2.pdf" target="_blank"> andre </a> skal gi innsikt i oppbygging og bruk av en relasjonsdatabase for et angitt scenario og arbeidskravet har frist <i>2023-10-15</i>.</p>
                        <p>Den <a href="arbeidskrav/dok6200_h23_arbeidskrav_3.pdf" target="_blank"> tredje </a> skal gi innsikt i hvordan databaseinnhold kan lagres som XML og har frist <i>2023-11-12</i>.</p>                        
                        <p>Den <a href="arbeidskrav/dok6200_h23_arbeidskrav_4.pdf" target="_blank"> fjerde </a> skal gi innsikt i en XML beskrivelse av et datauttrekk for et angitt scenario, med frist <i>2023-11-21</i>.</p>                        
                        <p>Alle oppgaver leveres i canvas.</p>
                    </div>
                </div>
                <div class="ui hidden divider"></div>
                <div class="ui text container">
                    <h2 class="ui dividing header">Pensum</h2>
                    <p>
                        Årets pensumliste finner dere
                        <a href="pensum/dok6200_h23_pensum.html">her</a>. All pensum skal være fritt tilgjengelig fra en OsloMet IP-addresse. Ta kontakt med faglærer dersom du ikke får tak i pensum artikler. Pensumlisten er hentet fra
                        Leganto (tilgjengelig i Canvas)
                    </p>
                </div>
                <div class="ui hidden divider"></div>
                <div class="ui text container">
                    <h2 class="ui dividing header">Merknader</h2>
                    <p><a href="notes.html">Her</a> finner dere merknader som lærer legger ut.</p>
                </div>
                <div class="ui hidden divider"></div>
                <div class="ui text container">
                    <h2 class="ui dividing header">Evaluering</h2>
                    <p>
                        Lenke til midtveisevalueringen. (om ønskelig)
                        <!-- <a href="midtveisevaluering.html">Her</a> er resultatet av midtveisevalueringen. -->
                    </p>
                    <p>
                        Lenke til sluttevalueringen. (kommer på slutten av semesteret)
                        <!--<a href="emnerapport dok6200-H23.pdf">Her</a> er resultatet av sluttevalueringen. -->
                    </p>
                </div>
                <div class="ui hidden divider"></div>
                <div class="ui text container">
                    <h2 class="ui dividing header">Foiler</h2>
                    <p>Foilene over publiseres i odp formatet. ODP-filer bør åpnes med <a href="https://www.libreoffice.org/">LibreOffice</a> for best mulig gjengivelse av innhold.</p>
                </div>
                <div class="ui hidden divider"></div>
                <div class="ui modal large" id="courseModalDir">
                    <i class="close icon"></i>
                    <div class="header">{{currentModule.module_name}} {{module.module_finish}}</div>
                    <div class="scrolling content">
                        <div class="ui cards">
                            <div class="ui card">
                                <div class="content">
                                    <div class="header">Innhold</div>
                                </div>
                                <div class="content" ng-repeat="sub_module in currentModule.sub_modules">
                                    <h4 class="ui sub header">{{sub_module.sub_module_name}}</h4>
                                    <div class="ui small feed">
                                        <div class="event" ng-repeat="lecture in sub_module.lectures">
                                            <div class="content">
                                                <div ng-if="lecture.duration" class="summary"><a ng-click="doShowLectureContents(lecture)"> {{lecture.lecture_name}}</a> ({{lecture.duration}})</div>
                                                <div ng-if="!lecture.duration" class="summary">
                                                    <div ng-click="doShowLectureContents(lecture)">
                                                        {{lecture.lecture_name}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui card">
                                <div class="content">
                                    <div class="header">{{currentLecture.lecture_name}}</div>
                                </div>
                                <div class="content">
                                    <a ng-if="currentLecture.href" href="{{currentLecture.href}}">
                                        <i class="left floated play circle icon"></i>
                                        <div class="header">Spill av</div>
                                    </a>
                                    <div ng-if="!currentLecture.href">
                                        <i class="left floated play circle icon"></i>
                                        <div class="header">Ikke publisert enda</div>
                                    </div>
                                </div>
                                <div class="content">
                                    <h4 class="meta">Beskrivelse</h4>
                                    <div class="ui small feed">
                                        <div class="event">
                                            <div class="content">
                                                <div class="summary">{{currentLecture.lecture_description}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <h4 class="meta">Merknader</h4>
                                    <div class="ui small feed">
                                        <div class="event">
                                            <div class="content">
                                                <div class="summary">{{currentLecture.lecture_comment}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui hidden divider"></div>
            </div>
            <div class="one wide column">&nbsp;</div>
        </div>
    </body>
</html>

