<h2 id="ark2500-h24-arbeidskrav-2">ARK2500-H24 Arbeidskrav 2</h2>
<p>Frist: 2024-11-06</p>
<p><strong>Bokmål</strong>:</p>
<h3 id="noark-5-struktur">1. Noark 5 struktur</h3>
<p>Lag en databasestruktur for følgende Noark 5 struktur:</p>
<p><em>arkiv, arkivdel, mappe, registrering, dokumentbeskrivelse, dokumentobjekt</em></p>
<p>Det er viktig at fremmednøkkel relasjoner er spesifisert riktig. Bruk Noark 5 standarden og metadatakatalogene for mer informasjon.</p>
<h3 id="insert-kommandoer">2. Insert kommandoer</h3>
<p>Hver tabell skal ha minst en rad av informasjon. Metadatakatalogen kan hjelpe med å forstå innholdsverdiene feks hva dokumenttype betyr. Denne delen består av INSERT kommandoer.</p>
<p>For å bestå arbeidskravet må attributtnavn være slik de er spesifisert i metadatakatalogen og du skal kunne spore /se hele arkivstrukturen med bruk av systemID som primærnøkkel.</p>
<p><strong>Nynorsk</strong>:</p>
<h3 id="noark-5-struktur-1">1. Noark 5 struktur</h3>
<p>Lag ein database struktur for følgjande Noark 5 struktur:</p>
<p><em>arkiv, arkivdel, mappe,</em> <em>registrering,</em> <em>dokumentbeskrivelse, dokumentobjekt</em></p>
<p>Det er viktig at fremmednøkkel relasjonar er spesifisert riktig. Bruk Noark 5 standarden og metadatakatalogene for meir informasjon.</p>
<h3 id="insert-kommandoar">2. Insert kommandoar</h3>
<p>Kvar tabell skal ha minst ei rad av informasjon. Metadatakatalogen kan hjelpa med å forstå innhaldsverdiane feks kva dokumenttype tyder. Denne delen består av INSERT kommandoar.</p>
<p>For å bestå arbeidskravet må attributtnamn vera slik dei er spesifisert i metadatakatalogen og du skal kunna spora /sjå heile arkivstrukturen med bruk av systemID som primærnøkkel.</p>
