#arkiv_node
{
background-color:teal;color:white;padding:4px;
}

#body_style
{
font-family:Arial;font-size:12pt;background-color:#EEEEEE;
}

#sakTittel
{
background-color:grey;color:white;padding:4px;margin-left:20px;margin-bottom:1em;font-size:10pt;
}

#sakNavn
{
background-color:grey;color:white;padding:4px;margin-left:20px;margin-bottom:1em;font-size:10pt;
}
