<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
    xmlns:admin="http://webns.net/mvcb/"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:content="http://purl.org/rss/1.0/modules/content/">

    <channel>
    
    <title>Jisc Digital Media: Training</title>
    <link>http://www.jiscdigitalmedia.ac.uk/training</link>
    <description>Forthcoming training courses from JISC Digital Media.</description>
    <dc:language>en</dc:language>
    <dc:creator>Jisc Digital Media</dc:creator>
    <dc:rights>Copyright 2016 Jisc Digital Media</dc:rights>
    <dc:date>2010-08-11T11:53:00+00:00</dc:date>
    <admin:generatorAgent rdf:resource="http://expressionengine.com/" />
    

    <item>
      <title>Introduction to Metadata,</title>
      <link>http://www.jiscdigitalmedia.ac.uk/training/courses/introduction-to-image-metadata</link>
      <guid>http://www.jiscdigitalmedia.ac.uk/training/courses/introduction-to-image-metadata#when:</guid>
      <dc:subject>Workshop,</dc:subject>
      <description><![CDATA[<p>This course is designed specifically to help you consider how to effectively incorporate metadata into the fabric of your digital collections, through explanation, discussion and practical activities.</p><p>Anyone new to describing and cataloguing digital media. Some previous knowledge of metadata will be useful but not essential.</p><ul>
	<li>Importance of metadata for digital collections</li>
	<li>Choosing appropriate standards for your collection</li>
	<li>Metadata for different communities (e.g. museums, libraries, archives)</li>
	<li>Metadata for different purposes (e.g. retrieval, administration, preservation)</li>
	<li>Metadata for different media (e.g. still images, video, audio)</li>
	<li>Different types of metadata (e.g. categories, controlled vocabularies, subject classifications)</li>
	<li>Introduction to storing metadata (e.g. databases, image tagging, XML)</li>
	<li>Introduction to some alternative approaches (e.g. content-based retrieval, user-created metadata)</li>
	<li>Critical review of real world examples</li>
</ul>]]></description>
    </item>

    <item>
      <title>Introduction to 3D Digitisation,</title>
      <link>http://www.jiscdigitalmedia.ac.uk/training/courses/introduction-to-3d-digitisation</link>
      <guid>http://www.jiscdigitalmedia.ac.uk/training/courses/introduction-to-3d-digitisation#when:</guid>
      <dc:subject>Workshop,</dc:subject>
      <description><![CDATA[<p>This practical one-day workshop provides a comprehensive introduction to the growing area of 3D digitisation. &nbsp; Attendees will learn the basic concepts behind 3D and look at (and try out) different&nbsp;methods of generating 3D content. &nbsp;The workshop concludes with a look at delivery options, legal considerations and top tips for digitisation.</p><p>The workshop is designed for up to 6&nbsp;people. Previous experience of 3D digitisation is not necessary, just an interest in developing new skills and techniques for creating teaching and learning resources.</p>

<p>Contact us to find out how this workshop can address your specific goals.</p><ul>
	<li>introduction to 3D geometry</li>
	<li>properties of a 3D model</li>
	<li>digitisation techniques</li>
	<li><span style="line-height: 1.6em;">delivery considerations</span></li>
	<li><span style="line-height: 1.6em;">3D tips and summary</span></li>
</ul>]]></description>
    </item>

    <item>
      <title>BTEC Professional Certificate in Digital Imaging: 3 days,</title>
      <link>http://www.jiscdigitalmedia.ac.uk/training/courses/btec-professional-certificate-in-digital-imaging</link>
      <guid>http://www.jiscdigitalmedia.ac.uk/training/courses/btec-professional-certificate-in-digital-imaging#when:</guid>
      <dc:subject>Accredited course,</dc:subject>
      <description><![CDATA[<p>The course would suit a candidate that requires a broad introduction to creating, editing using and managing a digital image collection. The skills covered could be used by anyone who is involved directly or indirectly in digitising or managing a collection of digital images. The skills in the course can be usefully employed in the education and cultural heritage sectors, or wherever a standard-based approach to image capture and delivery is required.</p><p>This course is suitable for all.</p><p><strong>PLEASE NOTE: This is a three-day course. Course fees are as follows:</strong></p>

<ul>
	<li>&pound;1080 fee for three-day course.</li>
</ul>

<p>The following units are the BTEC accredited assessment components of our still image professional development certificate and award.</p>

<h3>Unit: Capture (20 credits)</h3>

<p>This element of the course introduces the digital SLR and flatbed scanner and explains how these devices are used to digitise a variety of common subjects. It aims to explain the main controls of each device and how they are used to control the appearance of the digital image. In this session candidates are introduced to lighting and learn how it is an essential element in photography and how different types of lighting contribute to look of the picture. This session also explores capture file formats and their applications.</p>

<h3>Key Unit Areas</h3>

<ul>
	<li>The digital image</li>
	<li>Handling originals</li>
	<li>Scanning</li>
	<li>The digital camera</li>
	<li>Exposure controls</li>
	<li>Photography using digital SLR</li>
	<li>Lighting</li>
	<li>Monitor calibration</li>
	<li>Capture file formats</li>
</ul>

<h3>Unit: Manipulation (20 credits)</h3>

<p>This session introduces the subject of destructive and non-destructive image editing and highlights some of the more commonly used image editing programs. All of the image editing during the session will be carried out with Adobe Photoshop. Throughout the day the course follows a typical workflow from initial quality control, image sorting, cropping, tone and colour adjustment, retouching through to file formats for final delivery.</p>

<h3>Key Unit Areas</h3>

<ul>
	<li>Introduction to image editing. Destructive Vs non-destructive.</li>
	<li>QC and sorting images</li>
	<li>Tone and colour adjustments</li>
	<li>Retouching images</li>
	<li>Colour modes</li>
	<li>File size</li>
	<li>Filters</li>
	<li>Delivery file formats</li>
</ul>

<h3>Unit: Intellectual property rights (20 Credits)</h3>

<p>This half-day session sets out the legal framework as it relates to intellectual property rights (IPR) and the creation, use and re-use of digital images. Students will learn about current IPR legislation and how best to protect their digital images from misuse. Students will also gain an understanding of how they might use digital images owned and/ or created by others. Potential future changes to UK IPR law will be discussed alongside a discussion on the internation dimension. The key concepts surrounding IPR and digital images will be explored using a mixture of presentations, discussions and practical activities.</p>

<h3>Key Unit Areas</h3>

<ul>
	<li>What is an intellectual property right?</li>
	<li>Relevant legislation</li>
	<li>Pragmatic approach to IPR</li>
	<li>International dimension</li>
	<li>Possible future developments</li>
	<li>International considerations</li>
</ul>

<h3>Unit: Metadata (20 credits)</h3>

<p>This element of the course introduces the concept of metadata as it relates to digital still images. Students will receive an understanding of the different types of metadata, how metadata is used and how it differs depending on the user community. Students will be introduced to metadata schemas and controlled vocabularies and will consider a variety of ways in which metadata might be used to enhance digital image collections. The key areas will be explored using a mixture of presentations, discussions and practical activities.</p>

<h3>Key Unit Areas</h3>

<ul>
	<li>Definition of metadata &ndash; what it means in relation to digital images</li>
	<li>The different types of metadata</li>
	<li>The ways in which metadata is used</li>
	<li>Metadata schemas</li>
	<li>Controlled vocabularies</li>
	<li>Where metadata is stored</li>
	<li>Sharing metadata</li>
</ul>

<p><img alt="Robert receiving his BTEC certificate " src="http://www.jiscdigitalmedia.ac.uk/images/btec-robert.jpg" /></p>

<p>Robert receiving his BTEC certificate</p>]]></description>
    </item>

    <item>
      <title>Making and using Clinical and Healthcare Recordings for Learning and Teaching,</title>
      <link>http://www.jiscdigitalmedia.ac.uk/training/courses/clinical-and-healthcare-recordings</link>
      <guid>http://www.jiscdigitalmedia.ac.uk/training/courses/clinical-and-healthcare-recordings#when:</guid>
      <dc:subject>Online training,</dc:subject>
      <description><![CDATA[<p>Making and using Clinical and Healthcare Recordings for Learning and Teaching contains guidance material aimed primarily at students, teachers or doctors who wish to use a patient recording or patient data for learning and teaching. It will also be of interest and use to other clinical and healthcare workers as well as to university staff where patient recordings are made available for learning and teaching. Learn about the ethical principles that underpin the guidelines.</p>

<p><a href="http://www.jiscdigitalmedia.ac.uk/clinical-recordings/">Start tutorial now</a></p>]]></description>
    </item>

    <item>
      <title>Internet for Audio Resources,</title>
      <link>http://www.jiscdigitalmedia.ac.uk/training/courses/internet-for-audio-resources</link>
      <guid>http://www.jiscdigitalmedia.ac.uk/training/courses/internet-for-audio-resources#when:</guid>
      <dc:subject>Online training,</dc:subject>
      <description><![CDATA[<p>Internet Audio Resources is a free online tutorial to help you learn how to use the Internet to find audio resources for your work quickly and efficiently.</p>

<p><a href="http://moodle.rsc-wales.ac.uk/course/view.php?id=293" target="_blank">Start tutorial now</a> <span class="note">(Opens in a new window)</span></p>]]></description>
    </item>

    <item>
      <title>Internet for Video and Moving Image Resources,</title>
      <link>http://www.jiscdigitalmedia.ac.uk/training/courses/internet-for-video-and-moving-image-resources</link>
      <guid>http://www.jiscdigitalmedia.ac.uk/training/courses/internet-for-video-and-moving-image-resources#when:</guid>
      <dc:subject>Online training,</dc:subject>
      <description><![CDATA[<p>Internet for Video and Moving Image Resources is a free online tutorial to help you learn how to use the Internet to find video resources for your work quickly and efficiently.</p>

<p><a href="http://moodle.rsc-wales.ac.uk/course/view.php?id=295" target="_blank">Start tutorial now</a> <span class="note">(Opens in a new window)</span></p>]]></description>
    </item>

    <item>
      <title>Internet for Image Searching,</title>
      <link>http://www.jiscdigitalmedia.ac.uk/training/courses/internet-for-image-searching</link>
      <guid>http://www.jiscdigitalmedia.ac.uk/training/courses/internet-for-image-searching#when:</guid>
      <dc:subject>Online training,</dc:subject>
      <description><![CDATA[<p>Internet for Image Searching - would you like to learn how to use the Internet to find copyright cleared images for your work, quickly and efficiently?</p>

<p>Use this free, interactive tutorial to improve your image searching skills.</p>

<p><a href="http://moodle.rsc-wales.ac.uk/course/view.php?id=294" target="_blank">Start tutorial now</a> <span class="note">(Opens in a new window)</span></p>]]></description>
    </item>

    <item>
      <title>Building Effective Screencasts,</title>
      <link>http://www.jiscdigitalmedia.ac.uk/training/courses/building-effective-screencasts</link>
      <guid>http://www.jiscdigitalmedia.ac.uk/training/courses/building-effective-screencasts#when:</guid>
      <dc:subject>Workshop,</dc:subject>
      <description><![CDATA[<p><span style="line-height: 1.6em;">This practical one-day workshop provides an opportunity to learn how to maximise the value of screencasting in presentation, demonstration and digital storytelling for teaching and learning, in the context of the whole workflow from planning your own short screencast to rendering it as a video. We&#39;ve even had some delegates posting finished screencasts to YouTube by the end of the day!</span></p><p>The workshop is designed for up to 10 people. Previous experience of screencasting is not necessary, just an interest in developing new skills and techniques for creating teaching and learning resources.</p>

<p>Contact us to find out how this workshop can address your specific goals.</p><p>Screencasts - videos of on-screen computer activity, accompanied by voice-over, and possibly other media (webcam video, Powerpoint slides etc) - have in recent times increased massively in popularity, scope and acceptance, and can now provide a sophisticated learning experience, incorporating slides, images, video, audio, screen annotation, subtitles, interactive quizzes and more. &nbsp;Whether you want to narrate a presentation, demonstrate the use of software&nbsp;or record and share your screen for any other reason, a screencast may well be the answer.</p>

<p>Covering the essentials of the screencast production workflow, workshop participants will learn:</p>

<ul>
	<li><span style="line-height: 1.6em;">How to plan for production and use</span></li>
	<li>Screencast design and planning</li>
	<li>Practical skills for&nbsp;to producing&nbsp;effective and engaging screencasts</li>
	<li>Voice and screen recording skills and technical overview</li>
	<li>How to package screencasts in formats suitable for their audience</li>
</ul>]]></description>
    </item>

    <item>
      <title>Video Production: Lectures and Interviews 2&#45;day course,</title>
      <link>http://www.jiscdigitalmedia.ac.uk/training/courses/video-production-1-lectures-and-interviews</link>
      <guid>http://www.jiscdigitalmedia.ac.uk/training/courses/video-production-1-lectures-and-interviews#when:</guid>
      <dc:subject>Workshop,</dc:subject>
      <description><![CDATA[<p>This course is intended to instil basic competence in the many areas of knowledge that are needed to produce good video work. A hands-on approach is taken: participants will have the oppportunity to use a range of equipment and will by the end of the course have produced a short video. All equipment and facilities will be supplied.</p><p>Anyone wishing to create videos or to supervise the creation of videos. This workshop assumes no prior experience, although knowledge of camcorders, audio recording and video editing is useful.</p><p>The use of video in education has ceased to be an occasional occurrence, but the quality of videos has not kept pace with their popularity.</p>

<ul>
	<li>Introduction and overview to video</li>
	<li>When to use video and when to use audio</li>
	<li>Equipment</li>
	<li>Video workflow</li>
	<li>Planning the video</li>
	<li>Camera techniques</li>
	<li>Microphone techniques</li>
	<li>Lighting techniques</li>
	<li>Getting the most out of the subject</li>
	<li>Shooting a lecture</li>
	<li>Shooting an interview</li>
	<li>Shooting a monitor</li>
	<li>Basic editing techniques</li>
	<li>Finishing and delivery</li>
</ul>

<h2>Learning objectives</h2>

<p>By the end of the course attendees should be able to:</p>

<ul>
	<li>Plan a video project</li>
	<li>Competently use a video camera</li>
	<li>Understand the fundamentals of lighting for video</li>
	<li>Understand the fundamentals of audio recording for video</li>
	<li>Understand the fundamentals of editing digital video</li>
	<li>Create and deliver a video of a lecture</li>
	<li>Carry out an interview and create and deliver a video of it</li>
</ul>

<h2>Course Fees</h2>

<p><strong style="line-height: 1.6em;">PLEASE NOTE: This is a two-day course.</strong></p>

<ul>
	<li><strong>&pound;275 ex VAT / &pound;330 inc VAT</strong> for participants from UK Higher or Further Education</li>
	<li><strong>&pound;325 ex VAT / &pound;390 inc VAT</strong> for participants from government, charities, libraries, galleries or museums</li>
	<li>Prices for all other participants are available on request</li>
</ul>]]></description>
    </item>

    <item>
      <title>Colour Management,</title>
      <link>http://www.jiscdigitalmedia.ac.uk/training/courses/colour-management</link>
      <guid>http://www.jiscdigitalmedia.ac.uk/training/courses/colour-management#when:</guid>
      <dc:subject>Workshop,</dc:subject>
      <description><![CDATA[<p>Effective colour management is vital within the digital workflow and anyone working with digital images should understand and be employing the core principles. This training course introduces colour management theory and &#39;good practice&#39; to ensure that you understand how to achieve consistent and accurate colour between applications, platforms, and devices.</p><p>Anyone needing to know how to achieve and maintain colour consistency between devices. This workshop uses Adobe Photoshop and some previous experience in capturing digital images and using image editors is recommended.</p><ul>
	<li value="0">Introduction and overview to digital colour</li>
	<li value="0">Describing colour - colour spaces and colour gamut</li>
	<li value="0">Open loop and closed loop colour management</li>
	<li value="0">Using <abbr lang="en" title="International Color Consortium">ICC</abbr> device profiles</li>
	<li value="0">Calibration and characterisation with <abbr lang="en" title="International Color Consortium">ICC</abbr> profiles</li>
	<li value="0">Colour transformations and rendering intents</li>
	<li value="0">Assigning new <abbr lang="en" title="International Color Consortium">ICC</abbr> profiles to imported images</li>
	<li value="0">Using profiles to soft-proof images for printing</li>
	<li value="0">Colour calibration on the Web</li>
	<li value="0">Other approaches to consistent colour</li>
</ul>]]></description>
    </item>

    <item>
      <title>Managing Digital Media Collections,</title>
      <link>http://www.jiscdigitalmedia.ac.uk/training/courses/managing-digital-media-collections</link>
      <guid>http://www.jiscdigitalmedia.ac.uk/training/courses/managing-digital-media-collections#when:</guid>
      <dc:subject>Workshop,</dc:subject>
      <description><![CDATA[<p>This one day course will offer a model of digital collection management, based upon open source solutions. Attendees will gain hands-on experience of planning, building, managing and delivering a digital media collection.</p><p>This workshop is aimed at attendees planning to build, manage or deliver a digital collection, especially those within the educational or cultural heritage sectors. You do not need any prior experience of collection management but familiarity with digital media (images, video or audio) would be an advantage.</p><p>Now that many important materials are in a digital form, building an accessible online media collection which successfully delivers images, sounds, video and other media is a goal of many institutions.</p>

<p>Until recently, expensive Digital Asset Management systems were the most viable option, but now open source server applications such as Dspace, Omeka and Drupal hold the promise of truly interoperable and standards-based collection management.</p>

<ul>
	<li>Planning your digital collection</li>
	<li>DAMS, MAMS, CMS or repository: what&#39;s in a management system?</li>
	<li>Selection and preparation of content</li>
	<li>Defining your metadata: usefully describing your media</li>
	<li>Google and you: making your collection searchable via the web</li>
	<li>Sustainability and digital preservation</li>
</ul>

<h2>Course Fees</h2>

<ul>
	<li><strong>&pound;150 ex VAT / &pound;180 inc VAT</strong> for participants from UK Higher or Further Education</li>
	<li><strong>&pound;175 ex VAT / &pound;210 inc VAT</strong>&nbsp;for participants from government, charities, libraries, galleries or museums</li>
	<li>Prices for all other participants are available on request</li>
</ul>]]></description>
    </item>

    
    </channel>
</rss>