<script src="../../../node_modules/reveal.js-menu/menu.js"></script>
<script src="../../../node_modules/reveal.js-drawer/dist/drawer.js"></script>
<link rel="stylesheet" href="../../../node_modules/reveal.js-drawer/dist/drawer.css" />
<script>
  Reveal.configure({
    menu: {
      side: 'left',
      openButton: false
    }
  })
  Reveal.registerPlugin(RevealMenu)
  Reveal.registerPlugin(RevealDrawer)
</script>
