<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
    xmlns:admin="http://webns.net/mvcb/"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:content="http://purl.org/rss/1.0/modules/content/">

    <channel>
    
    <title>JISC Digital Media: Guides</title>
    <link>http://www.jiscdigitalmedia.ac.uk/</link>
    <description>These advice documents cover issues relating to all digital media resources: still images, moving images or audio.</description>
    <dc:language>en</dc:language>
    <dc:creator>webmaster@jiscdigitalmedia.ac.uk</dc:creator>
    <dc:rights>Copyright 2010</dc:rights>
    <dc:date>2010-10-08T08:28:00+00:00</dc:date>
    <admin:generatorAgent rdf:resource="http://expressionengine.com/" />
    

    <item>
      <title>Essential information for copyright support</title>
      <link>http://www.jiscdigitalmedia.ac.uk/guide/essential-information-for-copyright-support</link>
      <guid>http://www.jiscdigitalmedia.ac.uk/guide/essential-information-for-copyright-support#When:11:01:00Z</guid>
      <description><![CDATA[<p>Copyright is always a very complex topic to understand and it can be difficult to find the most current and accurate information just when you want it.</p>

<p>This short guide provides you with the best sites on the Internet that will give you all the support that you need to resolve your copyright queries, particularly in relation to your digital projects. Please note that some of these sites are representing the interests of&nbsp;particular&nbsp;professional bodies and therefore will not provide you with necessarily the widest perspective on your copyright issue.</p>

<p>You are therefore advised that if you&nbsp;require further help to&nbsp;consult&nbsp;&nbsp;<a href="http://www.jiscdigitalmedia.ac.uk">Jisc Digital Media </a>or <a href="http://www.jisclegal.ac.uk">Jisc Legal </a>for&nbsp;additional advice and guidance.</p>]]></description>
      <dc:subject></dc:subject>
      <dc:date>2014-07-11T11:01:00+00:00</dc:date>
    </item>

    <item>
      <title>Digitisation and the Environment</title>
      <link>http://www.jiscdigitalmedia.ac.uk/guide/digitisation-and-the-environment</link>
      <guid>http://www.jiscdigitalmedia.ac.uk/guide/digitisation-and-the-environment#When:08:30:00Z</guid>
      <description><![CDATA[<p>This article assesses the extent to which digitisation impacts on the environment in the creation, use and storage of its outputs.</p>]]></description>
      <dc:subject>Managing,</dc:subject>
      <dc:date>2014-10-22T08:30:00+00:00</dc:date>
    </item>

    <item>
      <title>Crowdsourcing</title>
      <link>http://www.jiscdigitalmedia.ac.uk/guide/Crowdsourcing</link>
      <guid>http://www.jiscdigitalmedia.ac.uk/guide/Crowdsourcing#When:10:34:00Z</guid>
      <description><![CDATA[<p>Advice paper showing examples of where crowdsourcing has been used effectively to create metadata and detail&nbsp;content for digitisation projects: highlighting challenges and how to overcome these.</p>]]></description>
      <dc:subject>metadata, Managing,</dc:subject>
      <dc:date>2014-03-10T10:34:00+00:00</dc:date>
    </item>

    <item>
      <title>Review of Video Search Engines</title>
      <link>http://www.jiscdigitalmedia.ac.uk/guide/review-of-video-search-engines</link>
      <guid>http://www.jiscdigitalmedia.ac.uk/guide/review-of-video-search-engines#When:13:28:00Z</guid>
      <description><![CDATA[<p>This is one of a series of reviews which explore how digital media resources can be found on the web using search engines. Here we explore search engines used to discover moving image content (videos).&nbsp;</p>]]></description>
      <dc:subject>finding moving images, video, Finding,</dc:subject>
      <dc:date>2013-07-02T13:28:00+00:00</dc:date>
    </item>

    <item>
      <title>Using Social Media to Promote Digitisation and Digitised Collections</title>
      <link>http://www.jiscdigitalmedia.ac.uk/guide/using-social-media-to-promote-digitisation-and-digitised-collections</link>
      <guid>http://www.jiscdigitalmedia.ac.uk/guide/using-social-media-to-promote-digitisation-and-digitised-collections#When:14:37:00Z</guid>
      <description><![CDATA[<p>This advice paper provides some background to social media use in digitisation, and outlines a range of processes that can be implemented by organisations in order to increase the potential of social media and ensure the effort spent on it gives maximum return on investment.</p>]]></description>
      <dc:subject>Digitisation,</dc:subject>
      <dc:date>2013-06-03T14:37:00+00:00</dc:date>
    </item>

    
    </channel>
</rss>